body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book-list-row.currentBook, tr:nth-of-type(odd).book-list-row.currentBook {
  background-color: teal;
}

.button-wrapper {
  margin:10px;
}

.fixed-form-wrapper { 
  position:fixed;
  left: 3vw;
  width: 45vw;
}

.Header {
  color:blue
}

.Notification {
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey
}

.success {
  color:green;
}

.error {
  color:red
}